$primary: #6100ff;
$primary-dark: #260064;
$grey: grey;
$danger:#e91e1e;
$pink:rgb(212, 37, 215);


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
